
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
img {
    float: left;
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    flex: 3;
}

aside {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 1200px) {
    main {
        flex-direction: column;
    }

    aside {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    header {
        display: block;
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    main {
        flex-direction: column;
    }
}
